.navbar-nav .nav-link,
.navbar-nav .nav-item .dropdown-toggle {
  display: flex;
  align-items: center;
  line-height: 1.2;
  height: 100%;
}
/* Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* ajustable */
}
